<!DOCTYPE html>
<html>
<head>
    <title>Query 3 Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_query3.css') }}">
</head>
<body>
    <h1>Top 25 Services with the Highest Trade Surplus</h1>
    <table>
        <tr>
            <th>Service Label</th>
            <th>Trade Surplus Value</th>
        </tr>
        {% for row in results %}
        <tr>
            <td>{{ row.service_label }}</td>
            <td>{{ "{:,}".format(row.trade_surplus_value) }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
